.login_modal{
    position: fixed;
    top: 40%;
    left: 40%;
    width: 25%;
    height: 20%;
    z-index: 1000;
    border-radius: 20px;
    animation-duration: 0.2s;
    animation-name: sizing;
    box-shadow: #1f1f1f 3px 3px 10px 3px;
}
@keyframes sizing 
{
    0% {scale: 0;}
    50% {scale: 1.1;}   
    100% {scale: 1;}   
}

.modal_color_error{
    background-color: rgb(255, 106, 106);
    border: red 2px solid !important;
}

.modal_color_success{
    background-color: rgb(153, 255, 153);
    border: green 2px solid !important;
}
.close_modal_icon{
    cursor: pointer;
}
.close_modal_icon:hover{
    color:red
}